*{
    margin: 0;
    padding: 0;
}
.background-image{
    background-image: url('images/ButchartGardensPhotoByGabrielJude.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* width: 100vw; */
    height: 100vh;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 50px;
    color: white;
    
}

a{
    font-size: 50px;
    text-decoration: none;
    
}
a:hover{
    text-decoration:underline;
}
